.socialLinks {
  margin-top: 30px;
  display: grid;
  justify-content: center;
  justify-items: center;
  visibility: hidden;
  opacity: 0;
  h3{
    margin-bottom: 15px;
  }
  ul {
    padding-left: 20px;
    li {
      float: left;
      margin-right: 15px;
      a {
        font-size: 20px;
      }
    }
  }
}
.footerInner {
  .footerTitle a {
    color: #64ffda;
  }
  .footerOthers {
    p {
      span {
        margin-right: 15px;
      }
      a {
        background: #28a745;
        color: #fff;
        padding: 3px 8px;
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 767px) {
  .footerInner {
    p {
      span {
        font-size: 16px !important;
      }
    }
  }
}

@media(max-width:425px){
  .socialLinks{
    visibility: visible;
    opacity: 1;
  }
}