.titleSectionBtn::after {
  width: 69% !important;
}

.mySomeArticleInner {
  background: #162943;
  border-radius: 5px;
  height: 450px;
  transition: 1s;
  .mySomeArticleInnerImg {
    height: 200px;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .mySomeArticleContent {
    padding: 10px;
  }
  .mySomeArticleFooter {
    padding: 10px;

    .mySomeArticleFooterLeft {
      p {
        background: #4b5769;
        padding: 5px 10px;
        border-radius: 5px;
        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }
}
.active {
  transform: scale(1.03);
}

/* RESPONSIVE */

/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .titleSectionBtn::after {
    width: 53% !important;
  }

  .mySomeArticleInner {
    height: 470px;
  }
}

/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .titleSectionBtn::after {
    width: 56% !important;
  }
  .col7 {
    width: 82.333333%;
  }
}

/* Extra small Device. */
@media (max-width: 767px) {
  .col7 {
    width: 100%;
  }
  h3 {
    font-size: 25px !important;
    span {
      font-size: 25px !important;
    }
  }
}

/* SM Small Device :550px. */
@media only screen and (max-width: 424px) {
  h3 {
    // font-family: unset !important;
  }
  .titleSectionBtn {

    a {
      padding: 7px 8px !important;
    }
}
}
@media only screen and (max-width: 374px) {
  h3 {
    font-size: 20px !important;
    span {
      font-size: 20px !important;
    }
  }
  .mySomeArticleInner{
    height: 486px;
}
}
