.container {
  padding: 0 30px;
  .menu {
    button {
      display: none;
    }
    ul {
      margin-top: 20px;
      li {
        padding: 8px 34px;
        float: left;
        a {
        }
        &:last-child {
          border: 1px solid #28a745;
          // padding: 6px 1px;
          border-radius: 5px;
          &:hover {
            background: #28a745;
          }
        }
      }
    }
  }
}
.activeNav {
  z-index: 999;
  background: #172a45;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 1s;
}

/* RESPONSIVE */

/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
}

/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    .menu {
      ul {
        li {
          padding: 7px 21px;
        }
      }
    }
  }
}

/* SM Small Device :550px. */
@media only screen and (max-width: 767px) {
 
  .container {
    .navLogo {
      margin-top: 10px;
  }
    transition: 2s;
    .menu {
      button {
        display: block;
        position: relative;
        top: -35px;
      }
      ul {
        display: none !important;
        position: fixed;
        width: 250px;
        height: 350px;
        background: #172a45;
        z-index: 11;
        top: 0;
        right: 0;
        padding: 22px;
        margin-top: 0;
        &.active {
          display: block !important;
        }
        li {
          float: none;
          text-align: center;
          display: block;
          margin-top: 4px;
          &:first-child {
            margin-top: 28px;
          }
        }
      }
      .nabBarBtnOpen {
        display: block;
        position: relative;
        top: -38px;
        background: none;
        border: none;
        color: #fff;
        font-size: 20px;
      }
      .nabBarBtnClose {
        display: inline-block;
        position: fixed;
        top: 12px;
        left: 192px;
        z-index: 333;
        border: 1px solid #28a745;
        background: none;
        color: #fff;
        font-size: 17px;

        span {
          font-size: 17px !important;
          margin-left: 5px;
        }
      }
    }
  }
  .activeNav {
    height: 51px;
  }
}
@media only screen and (max-width: 424px) {
  .nabBarBtnClose {
    left: 139px !important;
  }
}
@media only screen and (max-width: 374px) {
  .nabBarBtnClose {
    left: 88px !important;
  }
}
