.SocialBar {
  position: fixed;
  bottom: -15px;
  padding-left: 30px;
  z-index: 10;
  ul {
      padding: 0;
    li {
      a{
        color: #ccd6f6;
        display: inline-block;
        margin-bottom: 20px;
        transition: all .3s;
        font-size: 20px;
      }
      &:hover {
          a{
            transform: translateY(-5px);
            color: #64ffda;
          }
      }
    }
  }
  &:after {
    content: "";
    width: 1px;
    background: #fff;
    height: 150px;
    display: block;
    margin: 0 auto;
  }
}


/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  

}

/* SM Small Device :550px. */
@media only screen and (min-width: 320px) and (max-width: 538px) {
  .SocialBar{
    display:none !important;
  }
 
}